/* Regra CSS */
body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    color: #333;
 
 
}

h1{
    text-align: center;
    font-size: 40px;
    color: #2a6f97;
    letter-spacing: 1px;
    margin-bottom: 10px;

    animation-name: aparecer;
    animation-duration: 5s;
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */

}
/* Regras para os links do menu */

nav{
    text-align: center;
    margin: 10px 0;

}
/* Regras para os links do menu */

/* Seletor DESCENDENTE */
nav a {
    text-decoration: none;
    background-color: #2a6f97;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    
    transition: 800ms;

}

/* hover = passar o mouse em cima troca a cor */

/* Seletor PSEUDO-CLASSE */
nav a:hover, nav a:focus {
    background-color: #1d4e6a;

}

/* Seletor CLASSE */
.introducao {
    text-align: center;
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;

}

details{
    background-color: white;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: black 2px 2px 4px;
    border-radius: 10px;

    width: 70%;
    margin-left: auto;
    margin-right: auto;

}


summary{
    font-size: 20px;
    font-weight: bold;
    color: #2a6f97;

    cursor: pointer;

}

/* Seletor de ATRIBUTO*/
details[open]{
    background-color: antiquewhite;

}

/* Seletor de ATRIBUTO com seletor DESCENDENTE*/
details[open] p{
    background-color: rgb(255, 222, 176);

    border-radius: 10px;

}

/* Animações CSS */
@keyframes aparecer{
    from{
        opacity: 0;
        transform: scale(0.8) translateY(-30px);
    }

    to{
        opacity: 1;

    }

}

h2{
    text-align: center;

}
